.contenedorgen{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 900px;
    margin: auto;

& main{
    display: flex;
    flex-direction: row;
    & .lateiz{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25%;
        border: 2px solid green;
        & button{
            width: 20px;   
        }
    }
    & .contenido{
        width: 75%;
        border: 1px solid green;
    }

}
& footer{
    width: 100%;
    height: 50px;
    border: 1px solid blue;
    background-color: aqua;
}

}